{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 card-panel">
            <form action="#" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" id="track_name" name="track_name" required>
                        <label for="track_name">Track Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="artist_name" name="artist_name" required>
                        <label for="artist_name">Artist</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="album_name" name="album_name" required>
                        <label for="album_name">Album</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="genre" id="genre">
                        <option>Choose a Genre:</option>
                        {% for genre in genres %}
                            <option value="{{genre.genre_name}}">{{genre.genre_name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="input-field col s6">
                        <input type="number" name="year_of_release" id="year_of_release" required>
                        <label for="year_of_release">Year of Release</label>
                    </div>
                     <div class="input-field col s6">
                         <input type="text" name="image_url" id="image_url">
                         <label for="image_url">Image URL</label>
                     </div>

                     <div class="col s6 submit-btn">
                         <button type="submit" class="btn">Add Track</button>
                     </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}