<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}
    <!--FontAwesome CDN-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
         type="text/css">
    <!--MaterializeCSS CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon/favicon.ico')}}">
    <title>Cross//Tracks</title>
</head>
<body>
    <!-- Dropdown Menu for Account Links -->
    <ul id="account-dropdown-desktop" class="dropdown-content">
        <li><a href="{{url_for('users.user_profile', username=session['user'])}}">My Profile</a></li>
        <li class="divider"></li>
        <li><a href="{{url_for('users.logout')}}">Logout</a></li>
    </ul>
    <!--Navbar for Laptop/Desktop devices-->
    <div class="navbar-fixed">
        <nav class="nav-extended">
            <div class="nav-wrapper browser-default">
                <a href="{{url_for('main.index')}}" class="brand-logo">
                    Cross//Tracks
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="{{url_for('main.index')}}">Home</a>
                    </li>
                    <li>
                        <a href="{{url_for('tracks.browse_tracks')}}">Browse All Tracks</a>
                    </li>
                    {% if session.user %}
                    <li>
                        <a href="{{url_for('tracks.add_track', username=session['user'])}}">Add A Track</a>
                    </li>
                    {% endif %}
                    {% if not session.user %}
                    <li>
                        <a href="{{url_for('users.register_user')}}" class="modal-trigger">Register</a>
                    </li>
                    <li>
                        <a href="{{url_for('users.login')}}">Login</a>
                    </li>
                    {% endif %}
                    {% if session.user %}
                    <li>
                        <a class="dropdown-trigger" href="#!" data-target="account-dropdown-desktop">My Account</a>
                    </li>
                    {% endif %}
                     {% if session.user|lower == "admin"|lower %}
                     <!-- Links for Admin -->
                     <li>
                         <a href="{{url_for('admin.manage_genres')}}">Manage Genres</a>
                     </li>
                     <li>
                         <a href="{{url_for('admin.manage_tracks')}}">Manage Tracks</a>
                     </li>
                     {% endif %}
    
                </ul>
            </div>
             </nav>
    </div>
        <!--Navbar for Mobile Devices -->
        <ul id="mobile-demo" class="sidenav">
            <li>
                <a href="{{url_for('main.index')}}">Home</a>
            </li>
            <li>
                <a href="{{url_for('tracks.browse_tracks')}}">Browse All Tracks</a>
            </li>
            {% if session.user %}
            <li>
                <a href="{{url_for('tracks.add_track', username=session['user'])}}">Add A Track</a>
            </li>
            {% endif %}
            {% if not session.user %}
            <li>
                <a href="{{url_for('users.register_user')}}" class="modal-trigger">Register</a>
            </li>
            <li>
                <a href="{{url_for('users.login')}}">Login</a>
            </li>
            {% endif %}
            {% if session.user %}
            <li>
                <a class="dropdown-trigger" href="#!" data-target="account-dropdown-mobile">My Account</a>
            </li>
            {% endif %}
            {% if session.user|lower == "admin"|lower %}
            <!-- Links for Admin -->
             <li>
                 <a href="{{url_for('admin.manage_genres')}}">Manage Genres</a>
             </li>
             <li>
                 <a href="{{url_for('admin.manage_tracks')}}">Manage Tracks</a>
             </li>
            {% endif %}
        </ul>
      <!-- Dropdown for logged in users -->
        <ul id="account-dropdown-mobile" class="dropdown-content">
            <li><a href="{{url_for('users.user_profile', username=session['user'])}}">My Profile</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('users.logout')}}">Logout</a></li>
        </ul>
    <main>
            <!-- All other page content -->
            {% block content %}
            {% endblock %}
    </main>
    <!-- Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row center-align">
                {% if not session.user %}
                <div class="col s4">
                    <ul class="domestic-links">
                        <li><a href="{{url_for('users.register_user')}}">Register</a></li>
                    </ul>
                </div>
                <div class="col s4">
                    <ul class="domestic-links">
                        <li><a href="{{url_for('users.login')}}">Login</a></li>
                    </ul>
                </div>
                <div class="col s4">
                    <ul class="domestic-links">
                        <li><a href="{{url_for('main.contact')}}">Contact Us</a></li>
                    </ul>
                </div>
                {% else %}
                 <div class="col s6">
                     <ul class="domestic-links">
                         <li><a href="{{url_for('users.logout')}}">Logout</a></li>
                     </ul>
                 </div>
                 <div class="col s6">
                     <ul class="domestic-links">
                         <li><a href="{{url_for('main.contact')}}">Contact Us</a></li>
                     </ul>
                 </div>
                {% endif %}
            </div>
            <div class="row social-links-row center-align">
                <div class="col s12">
                    <ul class="social-links">
                        <li><a href="https://www.spotify.com" target="_blank" rel="noopener"><i class="fab fa-spotify"></i></a></li>
                        <li><a href="https://www.github.com/OliverCadman" target="_blank" rel="noopener"><i
                                    class="fab fa-github"></i></a></li>
                        <li><a href="https://www.soundcloud.com" target="_blank" rel="noopener"><i
                                    class="fab fa-soundcloud"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--jQuery-->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"
       integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--MaterializeCSS JavaScript-->
    <script src="{{url_for('static', filename='js/initialization.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/toast.js')}}"></script>

    <!-- Flash Messages displayed through Materialize 'toasts'-->
    <!-- displayToast() function found in toast.js file -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            displayToast({{ messages | tojson | safe}});
        </script>

    {% endif %}
    {% endwith %}
    {% block scripts %}
    {% endblock %}
</body>

</html>