<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--MaterializeCSS CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Cross//Tracks</title>
</head>

<body>
    <!-- Dropdown Menu for Account Link -->
    <ul id="account-dropdown-desktop" class="dropdown-content">
        <li><a href="#!">My Profile</a></li>
        <li><a href="#!">My Tracks</a></li>
        <li class="divider"></li>
        <li><a href="{{url_for('users.logout')}}">Logout</a></li>
    </ul>
    <!--Navbar for Laptop/Desktop devices-->
    <nav class="navbar nav-extended browser-default">
        <div class="browser-default">

            <a href="{{url_for('main.index')}}" class="brand-logo">
                Cross//Tracks
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Browse All Tracks</a>
                </li>
                {% if session.user %}
                <li>
                    <a href="#">Add A Track</a>
                </li>
                {% endif %}
                {% if not session.user %}
                <li>
                    <a href="#register-modal" class="modal-trigger">Register</a>
                </li>
                <li>
                    <a href="{{url_for('users.login')}}">Login</a>
                </li>
                {% endif %}
                {% if session.user %}
                <li>
                    <a class="dropdown-trigger" href="#!" data-target="account-dropdown-desktop">My Account</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </nav>

    <!--Navbar for Mobile Devices -->
    <ul id="mobile-demo" class="sidenav">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Browse All Tracks</a>
        </li>
        {% if session.user %}
        <li>
            <a href="#">Add A Track</a>
        </li>
        {% endif %}
        {% if not session.user %}
        <li>
            <a href="#register-modal" class="modal-trigger">Register</a>
        </li>
        <li>
            <a href="{{url_for('users.login')}}">Login</a>
        </li>
        {% endif %}
        <li>
            <a class="dropdown-trigger" href="#!" data-target="account-dropdown-mobile">My Account</a>
        </li>
    </ul>
    {% if session.user %}
    <ul id="account-dropdown-mobile" class="dropdown-content">
        <li><a href="#!">My Profile</a></li>
        <li><a href="#!">My Tracks</a></li>
        <li class="divider"></li>
        <li><a href="{{url_for('users.logout')}}">Logout</a></li>
    </ul>
    {% endif %}
    <main>
        <div class="hero-section background-main">

            {% block content %}
            {% endblock %}
        </div>

    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row center-align">
                <div class="col s4">
                    <ul class="domestic-links">
                        <li><a href="#">Accessibility</a></li>
                        <li><a href="#">Register</a></li>
                    </ul>
                </div>
                <div class="col s4">
                    <ul class="domestic-links">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="col s4">
                    <ul class="domestic-links">
                        <li><a href="#">F.A.Q</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="row social-links-row center-align">
                <div class="col s12">
                    <ul class="social-links">
                        <li><a href="https://www.spotify.com" target="_blank"><i class="fab fa-spotify"></i></a></li>
                        <li><a href="https://www.github.com/OliverCadman" target="_blank"><i
                                    class="fab fa-github"></i></a></li>
                        <li><a href="https://www.soundcloud.com" target="_blank"><i class="fab fa-soundcloud"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
    <!--Register Modal-->
    <div id="register-modal" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Register</h4>
            <div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <form action="{{url_for('users.register_user')}}" method="POST">
                <div class="container">
                    <div class="row">
                        <div class="col s12 username-input">
                            <label for="username">Choose a Username:</label>
                            <input type="text" id="username" name="username" class="validate" required>
                        </div>
                        <div class="col s12 email-input">
                            <label for="email-address">Choose an email address:</label>
                            <input type="email" id="email_address" name="email_address" class="validate" required>
                        </div>
                        <div class=" col s6 password-input">
                            <label for="password">Choose a password:</label>
                            <input type="password" id="password" name="password" pattern="^[a-zA-Z0-9]{8,15}$"
                                class="validate" required>
                        </div>
                        <div class="col s6 confirm-password-input">
                            <label for="confirm-password">Confirm your password:</label>
                            <input type="password" id="password" name="confirm_password" class="validate" required>
                        </div>
                        <div class="col s12 submit-button">
                            <button type="submit" class="btn-large">Sign Up</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--MaterializeCSS JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/initialization.js')}}"></script>
</body>

</html>