{% extends "base.html" %}
{% block content %}
<div class="browse-background">
    <div class="row">
        <div class="col s12 text center">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
<div class="row">
    <div class="col s12 user-option-list">
        <ul>
            <li>
                <a href="#"><i class="fas fa-search user-option-icon"></i>
                    <p class="user-option hide-on-small-only">Search Tracks</p>
                </a>
            </li>
            {% if session.user %}
            <li>
                <a href="{{url_for('tracks.add_track', username=session['user'])}}"><i class="fas fa-plus-square user-option-icon"></i>
                    <p class="user-option hide-on-small-only">Add Your Tracks</p>
                </a>
            </li>
            <li>
                <a href="{{url_for('users.user_profile', username=session['user'])}}"><i class="fas fa-user-circle user-option-icon"></i>
                    <p class="user-option hide-on-small-only">Your Profile</p>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12 section-header">
        <h1>Latest Tracks</h1>
    </div>
</div>
<div class="row">
    {% if tracks_and_users %}
    {% for track in tracks_and_users %}
    {% set username = track['user'][0]['username'] %}
    <div class="col s12 m4">
        <div class="card horizontal">
            <div class="card-image">
                {% if not track.image_url == '' %}
                <img src="{{track.image_url}}" alt="Image of Cover Art for Track" class="track-image">
                {% else %}
                <img src="{{url_for('static', filename='images/design3.png')}}" alt="Image of Cover Art for Track"
                    class="track-image">
                {% endif %}
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title"> {{track.track_name}}</span>
                    {% if session.user %}
                    <span><a href="{{url_for('tracks.like_track', track_id=track._id, username=session['user'])}}" class="modal-trigger"><i
                                class="far fa-star "></i></a></span><span>{{track.likes_count if track.likes_count}}</span>
                    {% else %}

                    <span><a href="#login_modal_"
                            class="modal-trigger"><i
                                class="far fa-star "></i></a></span><span>{{track.likes_count if track.likes_count}}</span>
                    {% endif %}
                        <div class="card-information-wrapper">
                            <div class="track-card-information">
                                <p class="artist-name">
                                    {{track.artist_name}}
                                </p>
                                <p class="album-name">
                                    {{track.album_name}}
                                </p>
                            </div>
                            <div class="more-info-btn">
                                <a href="#track_modal_{{track._id}}" class="btn modal-trigger">More Info</a>
                            </div>
                            <div>
                                <p>
                                    <small>Added by:</small> {{username}}
                                    {% if track['user'][0]['profile_image'] %}
                                    <a href="{{url_for('users.user_profile', username=username)}}">
                                         <img src="{{url_for('users.display_profile_image', filename=track['user'][0]['profile_image'])}}"
                                             alt="User profile image" class="user-image-card">
                                    </a>
                                        {% else %}
                                        <a href="{{url_for('users.user_profile', username=username)}}">
                                         <img src="{{url_for('static', filename='images/default-user-image.png')}}"
                                            alt="User profile image" class="user-image-card">
                                        </a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
          <div class="modal" id="track_modal_{{track._id}}">
              <div class="modal-content">
                  <div class="row">
                      <div class="col 12 modal-user-details">
                        <p>
                            <small>Added by:</small> {{username}}
                            {% if track['user'][0]['profile_image'] %}
                            <a href="{{url_for('users.user_profile', username=username)}}">
                                <img src="{{url_for('users.display_profile_image', filename=track['user'][0]['profile_image'])}}"
                                    alt="User profile image" class="user-image-card">
                            </a>
                            {% else %}
                            <a href="{{url_for('users.user_profile', username=username)}}">
                                <img src="{{url_for('static', filename='images/default-user-image.png')}}"
                                    alt="User profile image" class="user-image-card">
                            </a>
                            {% endif %}
                           <span class="message-user-modal"><a href="#" class="btn">Message {{username}}</a></span>
                        </p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s6 album-cover-modal">
                        {% if not track.image_url == '' %}
                        <img src="{{track.image_url}}" alt="Image of Cover Art for Track" class="album-cover">
                        {% else %}
                        <img src="{{url_for('static', filename='images/design3.png')}}"
                            alt="Image of Cover Art for Track" class="album-cover">
                        {% endif %}
                      </div>
                      <div class="col s6">
                        <h4>{{track.track_name}}</h4>
                        <p><span class="track-modal-info">Artist:</span> {{track.artist_name}}</p>
                        <p><span class="track-modal-info">Album:</span> {{track.album_name}}</p>
                        <p><span class="track-modal-info">Genre:</span> {{track.genre}}</p>
                        <p><span class="track-modal-info">Year of Release:</span> {{track.year_of_release}}</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal" id="login_modal_">
              <h1>Testing</h1>
          </div>
    </div>
    {% endfor %}
    <!-- Track Modal -->
    {% endif %}
</div>
</div>





{% block scripts %}
<script src="{{url_for('static', filename='js/profile_image_filesize_checker.js')}}"></script>
{% endblock %}


{% endblock %}