{% extends "base.html" %}
{% block content %}
<section>
    <div class="hero-section background-main">
        <div class="container hero-container">
            <div class="row">
                <div class="col s12 hero-header">
                    <h1 class="center-align">Cross//Tracks</h1>
                    <p class="center-align">Make new connections through new music.</p>
                    <div class="hero-inner">
                        <button class="btn">Find Me A Track</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    </div>
</section>


{% endblock %}