{% extends "base.html" %}
{% block content %}
{% block meta %}
<meta name="description" content="Cross//Tracks, track sharing website. Home Page">
<meta name="keywords" content="Cross//Tracks, music, sharing, community, social media">
<meta name="author" content="Oliver Cadman">
{% endblock %}
{% if not session.user %}
<!-- Login Window (laptop devices and up)-->
<aside>
    <div class="card-panel login-window hide-on-med-and-down">
        <form action="{{url_for('users.login')}}" method="POST">
            <div class="input-field">
                <i class="fas fa-user prefix login-window-icon"></i>
                <input type="text" name="username" id="username" class="login-window-input" required>
                <label for="username">Username</label>
            </div>
            <div class="input-field">
                <i class="fas fa-lock prefix login-window-icon"></i>
                <input type="password" name="password" id="password" class="login-window-input" required>
                <label for="password">Password</label>
            </div>
            <div class="login-button-wrapper">
                <button type="submit" class="btn">Login</button>
            </div>
            <small>New to Cross//Tracks? <a href="{{url_for('users.register_user')}}">Join Us</a></small>
        </form>
    </div>
</aside>
{% endif %}
<!-- Hero section -->
<section>
    <div class="full-height-background">
        <div class="hero-section background-main hero-container">
            <div class="row">
                <div class="col s12 hero-header">
                    <h1 class="center-align">Cross//Tracks</h1>
                    <p class="center-align">Make new connections through new music.</p>
                    <div class="hero-inner">
                        <a href="{{url_for('tracks.browse_tracks')}}" class="btn">Find Me A Track</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lead paragraph -->
        <div class="row about-crosstracks-background">
            <div class="col s12 l6 about-crosstracks-wrapper">
                <h2 class="info-header">About Us</h2>
                <p class="about-lead">Cross//Tracks is an online community.</p>
                <figure>
                    <img src="{{url_for('static', filename='images/about-crosstracks-vector.webp')}}"
                        alt="Vector graphic of two people listening to music from iPhone"
                        class="about-crosstracks-vector">
                </figure>
                <p class="about-lead">A hub where music can be shared, discovered and enjoyed.</p>
                <p class="about-summary">
                    Discover your new favourite artists from around the world, and meet like-minded music lovers
                    to share your passion, expand your library, and quench your thirst for new music.
                </p>
            </div>
            <!-- Bulleted list of how to use website -->
            <div class="col s12 l6 using-crosstracks-wrapper">
                <hr class="block-divider-home">
                <h2 class="info-header">Using Cross//Tracks</h2>
                <div class="use-crosstracks-list-wrapper">
                    <ul class="use-crosstracks-list">
                        <li>
                            <i class="fas fa-check-square use-crosstracks-icon"></i>Browse All Tracks (no need to
                            register!)
                        </li>
                        <li>
                            <i class="fas fa-check-square use-crosstracks-icon"></i>Filter Tracks by Genre, or Year
                            of
                            Release
                        </li>
                        <li>
                            <i class="fas fa-check-square use-crosstracks-icon"></i>Share your tracks with the
                            community
                        </li>
                        <li>
                            <i class="fas fa-check-square use-crosstracks-icon"></i>Save tracks and collect them in
                            your
                            profile
                        </li>
                        <li>
                            <i class="fas fa-check-square use-crosstracks-icon"></i>Leave a comment on any track you like!
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Sign Up Button -->
            <div class="col s12 hide-on-med-and-up signup-btn-wrapper">
                <p>Ready to Discover?</p>
                <a href="{{url_for('users.register_user')}}" class="btn">Sign Up Here</a>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}