{% extends 'base.html' %}
{% block meta %}
<meta name="description" content="Cross//Tracks, track sharing website. Login Page">
<meta name="keywords" content="Cross//Tracks, music, sharing, community, login">
<meta name="author" content="Oliver Cadman">
{% endblock %}
{% block content %}
<section>
<div class="login-page-container">
<div class="row">
    <!-- Login Header -->
    <div class="col s12 login-page-header">
        <h1>Login</h1>
        <!-- Vector Graphic -->
        <figure>
            <img src="{{url_for('static', filename='images/login-vector.png')}}"
                alt="Vector graphic of woman registering to website" class="login-vector hide-on-small-only">
        </figure>
    </div>
</div>
<hr class="block-divider">
    <div class="container">
        <div class="row">
            <!-- Login Form -->
            <div class="col s12 login-form-wrapper">
                <form action="{{url_for('users.login')}}" method="POST" class="login-form">
                    <div class="row">
                        <div class="card-panel col s12">
                            <div class="input-field">
                                <i class="fas fa-user prefix login-window-icon"></i>
                                <input type="text" id="username" name="username" required>
                                <label for="username">Username</label>
                            </div>
                            <div class="input-field">
                                <i class="fas fa-lock prefix login-window-icon"></i>
                                <input type="password" id="password" name="password" required>
                                <label for="password">Password</label>
                            </div>
                            <div class="submit-btn">
                                <button type="submit" class="btn">Login</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}