{% extends "base.html" %}
{% block content %}
    <div class="manage-genre-container">
        <h1>Manage Genres</h1>
        <div class="container">
            <div class="row">
                <div class="col s12 z-depth-5 delete-genre-wrapper">
                    <h2 class="center-align">Delete a Genre</h2>
                    {% if all_genres %}
                    {% for genre in all_genres %}
                    <div class="chip genre-chip">
                        {{ genre.genre_name }}
                        <a href="#remove_genre_modal_{{genre._id}}" class="modal-trigger">
                            <i class="fas fa-times-circle remove-genre"></i>
                        </a>
                    </div>
                    <div class="modal" id="remove_genre_modal_{{genre._id}}">
                        <i class="fas fa-times-circle modal-close close-modal-icon" data-group="close-modal"></i>
                        <div class="modal-content">
                            <div class="row">
                                <div class="col s12 confirm-delete-container">
                                    <div class="confirm-delete-message center-align">
                                        <p>Deleting {{genre.genre_name}}</p>
                                    </div>
                                    <div class="confirm-delete-wrapper center-align">
                                        <p>Are you sure you want to continue?</p>
                                        <a href="{{url_for('admin.delete_genre', genre_id=genre._id)}}"
                                            class="btn delete-track-btn">Delete</a>
                                        <button type="button" class="btn modal-close cancel-delete-btn">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row add-genre-container">
                     <div class="col s12 m6 add-genre-wrapper z-depth-5">
                         <h3 class="center-align">
                             Add a Genre
                         </h3>
                         <div class="add-genre-form-wrapper">
                             <form action="{{url_for('admin.add_genre')}}" method="POST"
                             class="add-genre-form">
                                 <div class="input-field">
                                     <input type="text" name="genre_name" id="genre_name">
                                     <label for="genre_name">Genre Name</label>
                                 </div>
                                 <div class="submit-btn">
                                     <button type="submit" class="btn add-genre-btn">Add Genre</button>
                                 </div>
                             </form>
                         </div>
                     </div>
            </div>
        </div>
    </div>
    
{% endblock %}