{% extends "base.html" %}
{% block content %}
<div class="manage-track-container">
    <h1>Manage Tracks</h1>
    <div class="row">
        {% if all_tracks %}
            {% for track in all_tracks %}
                <div class="col m6 l4 hide-on-small-only track-card">
                    <div class="card horizontal z-depth-5">
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title no-wordbreak">{{track.track_name}}</span>
                                <div class="card-information-wrapper">
                                    <div class="track-card-information">
                                        <p class="artist-name">
                                            {{track.artist_name}}
                                        </p>
                                        <p class="album-name">
                                            {{track.album_name}}
                                        </p>
                                        <p>{{track.genre}}</p>
                                        <p>{{track.year_of_release}}</p>
                                        <div class="card-image-wrapper">
                                            {% if not track.image_url == '' %}
                                            <img src="{{track.image_url}}" alt="Image of Cover Art for Track"
                                                class="track-image">
                                            {% else %}
                                            <img src="{{url_for('static', filename='images/crosstracks-logo.png')}}"
                                                alt="Image of Cover Art for Track" class="track-image">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="card-action">
                                        <div class="more-info-btn">
                                            {% if session["user"] == "admin" %}
                                            <a href="#edit_track_modal_{{track._id}}" class="btn modal-trigger"><i
                                                    class="fas fa-edit card-btn"></i></a>
                                            <a href="#delete_track_modal_{{track._id}}" class="btn modal-trigger"><i
                                                    class="fas fa-trash-alt card-btn"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                 <div class="col s12 hide-on-med-and-up">
                     <div class="card z-depth-4">
                         <div class="card-image">
                             {% if not track.image_url == '' %}
                             <img src="{{track.image_url}}" alt="Image of Cover Art for Track"
                                 class="track-image-mobile">
                             {% else %}
                             <img src="{{url_for('static', filename='images/crosstracks-logo.png')}}"
                                 alt="Image of Cover Art for Track" class="track-image-mobile">
                             {% endif %}
                         </div>
                         <div class="card-title">
                             <span>{{track.track_name}}</span>
                         </div>
                         <div class="card-content">
                             <p>{{track.artist_name}}</p>
                             <p>{{track.album_name}}</p>
                             <p>{{track.genre}}</p>
                         </div>
                         <div class="more-info-btn">
                             <a href="#track_modal_{{track._id}}" class="btn modal-trigger"><i
                                     class="fas fa-info-circle"><i class="fas fa-comment"></i></i></a>
                             {% if session["user"] == "admin" %}
                             <a href="#edit_track_modal_{{track._id}}" class="btn modal-trigger"><i
                                     class="fas fa-edit card-btn"></i></a>
                             <a href="#delete_track_modal_{{track._id}}" class="btn modal-trigger">
                                 <i class="fas fa-trash-alt"></i>
                             </a>
                             {% endif %}
                         </div>
                     </div>
                 </div>
                 <!-- Track Edit Modal -->
                 <div class="modal edit-track-modal" id="edit_track_modal_{{track._id}}">
                     <i class="fas fa-times-circle modal-close close-modal-icon" data-group="close-modal"></i>
                     <div class="row">
                         <div class="col s12">
                             <form
                                 action="{{url_for('tracks.edit_track', track_id=track._id, username=session['user'])}}"
                                 method="POST" class="edit-track-form">
                                 <div class="row">
                                     <div class="input-field col s12 m6">
                                         <input type="text" value="{{track.track_name}}" name="track_name" required>
                                         <label for="track_name">Track Name</label>
                                     </div>
                                     <div class="input-field col s12 m6">
                                         <input type="text" value="{{track.artist_name}}" name="artist_name" required>
                                         <label for="artist_name">Artist</label>
                                     </div>
                                     <div class="input-field col s12 m6">
                                         <input type="text" value="{{track.album_name}}" name="album_name" required>
                                         <label for="album_name">Album</label>
                                     </div>
                                     <div class="input-field col s12 m6">
                                         <select name="genre">
                                             <option>{{track.genre}}</option>
                                             {% for genre in genre_list %}
                                             <option value="{{genre}}">{{genre}}</option>
                                             {% endfor %}
                                         </select>
                                     </div>
                                     <div class="input-field col s12 m6">
                                         <input type="number" value="{{track.year_of_release}}" name="year_of_release"
                                             required>
                                         <label for="year_of_release">Year of Release</label>
                                     </div>
                                     <div class="input-field col s12 m6">
                                         <input type="text" value={{track.image_url}} name="image_url">
                                         <label for="image_url">Image URL</label>
                                     </div>

                                     <div class="col s12 submit-btn">
                                         <button type="submit" class="btn">Edit Track</button>
                                         <button type="button" class="btn modal-close">Cancel</button>
                                     </div>
                                 </div>
                             </form>
                         </div>
                     </div>
                 </div>
                 <!-- Track Delete Modal -->
                 <div class="modal" id="delete_track_modal_{{track._id}}">
                     <i class="fas fa-times-circle modal-close close-modal-icon" data-group="close-modal"></i>
                     <div class="modal-content">
                         <div class="row">
                             <div class="col s12 m6 confirm-delete-container">
                                 <div class="confirm-delete-message center-align">
                                     <p>Deleting "{{track.track_name}}"</p>
                                 </div>
                                 <div class="confirm-delete-wrapper center-align">
                                     <p>Are you sure you want to continue?</p>
                                     <a href="{{url_for('tracks.delete_track', track_id = track._id, username=session['user'])}}"
                                         class="btn">Delete</a>
                                     <button type="button" class="btn modal-close">Cancel</button>
                                 </div>
                             </div>
                             <div class="col m6 hide-on-mobile-only">
                                 {% if not track.image_url == '' %}
                                 <img src="{{track.image_url}}" alt="Image of Cover Art for Track" class="album-cover">
                                 {% else %}
                                 <img src="{{url_for('static', filename='images/crosstracks-logo.png')}}"
                                     alt="Image of Cover Art for Track" class="album-cover">
                                 {% endif %}
                             </div>
                         </div>
                     </div>
                 </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}