{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            {% if session.user %}
            <p>Hello {{session.user}}</p>
            {% endif %}
            <p>Welcome to Cross//Tracks</p>
            <p>Finish your profile and let the community know you've arrived!</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <form action=""></form>
        </div>
    </div>
</div>
{% endblock %}