{% extends "base.html" %}
{% block content %}

<!-- User Profile Picture and Email Address-->
<section>
    <div class="row user-info">
        <div class="col s12 m6 profile-image-email">
            <div class="row">
                <div class="col s12">
                    <div class="row profile-banner">
                        <div class="col s6">
                             <div class="profile-image-wrapper">
                                 {% if username['profile_image']%}
                                 <img src="{{url_for('users.display_profile_image', filename=username['profile_image'])}}"
                                     alt="User Profile Image" class="profile-image">
                                 {% else %}
                                 <img src="{{url_for('static', filename='images/default-user-image.png')}}"
                                     alt="Default Profile Image" class="profile-image">
                                 {% endif %}
                             </div>
                        </div>
                         <div class="col s6">
                             <div class="username-wrapper">
                                 {{username.username}}
                             </div>
                             <div class="messaging-wrapper">
                              <i class="fas fa-envelope profile-mail-icon"></i> {{username.email_address}}
                             </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                  <div class="edit-profile-btn-wrapper">
                    {% if username['username'] == session.user %}
                    <a href="#edit-profile" class="btn modal-trigger">Edit My Profile</a>
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
        <!-- Username, and Age with brief description (if found in database)-->
        <div class="col s12 m6 user-info">
            <div>
                {% if (username.first_name and username.last_name) or username.first_name %}
                <div class="user-fullname">
                    <p>{{username.first_name}} {{username.last_name}}</p>
                    {% endif %}
                </div>
                <div class="user-location-age">
                     {% if (username.city and username.country) or (username.city or username.country) %}
                      <p><i class="fas fa-home profile-location-icon"></i>{{username.city}}, {{username.country}}</p>
                     {% endif %}
                     {% if user_age %}
                        <p>{{user_age}} years old</p>
                     {% endif %}
                </div>
                {% if username.about_user %}
                <hr class="block-divider">
                <div class="about-user">
                    {{username.about_user}}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </section>
    <section>
    <!-- User's Tracks -->
    <div class="row">
        <div class="col s12 m6">
          <h5>My Tracks</h5>
          <div class="row">
              {% if users_tracks %}
                {% for track in users_tracks %}
                    <div class="col s12 m6">
                        <div class="card horizontal">
                            <div class="card-image">
                                {% if not track.image_url == '' %}
                                <img src="{{track.image_url}}" alt="Image of Cover Art for Track" class="track-image">
                                {% else %}
                                <img src="{{url_for('static', filename='images/design3.png')}}"
                                    alt="Image of Cover Art for Track" class="track-image">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
              {% endif %}
          </div>
          {% if not users_tracks %}
          <div class="col s12 m6 no-tracks-found">
              <h1>No Tracks</h1>
          </div>
          {% endif %}
        </div>
        <div class="col s12 m6">
          <h5>My Liked Tracks</h5>
          <div class="row">
              {% if liked_tracks %}
                {% for track in liked_tracks %}
                     <div class="col s12 m4">
                        <div class="card horizontal">
                            <div class="card-image">
                                
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h6>{{track.track_name}}</h6>
                                </div>
                            </div>
                        </div>
                     </div>
                {% endfor %}
              {% endif %}
          </div>
        </div>
    </div>
</div>
</section>
<aside>
<div class="modal" id="edit-profile">
     <div class="row">
         <div class="col s12">
             <form action="{{url_for('users.build_profile', username=session['user'])}}" method="POST"
                 enctype="multipart/form-data">
                 <div class="row">
                     <div class="input-field col s12">
                         <input type="text" value="{{session.user}} " id="username" name="username" disabled>
                         <label for="username">Username<i class="fas fa-question-circle tooltipped" data-position="top"
                                 data-tooltip="Username cannot be changed"></i></label>
                     </div>
                     <div class="input-field col s6">
                         <input type="text" value="{{username.first_name}}" id="first_name" name="first_name">
                         <label for="first_name">First Name</label>
                     </div>
                     <div class="input-field col s6">
                         <input type="text" value="{{username.last_name}}" id="last_name" name="last_name">
                         <label for="last_name">Last Name</label>
                     </div>
                     <div class="input-field col s4">
                         <input type="date" value="{{username.date_of_birth}}" id="date_of_birth" name="date_of_birth">
                         <label for="date_of_birth">Date of Birth</label>
                     </div>
                     <div class="input-field col s4">
                         <input type="text" value="{{username.city}}"id="city" name="city">
                         <label for="city">City</label>
                     </div>
                     <div class="input-field col s4">
                         <input type="text" value="{{username.country}}" id="country" name="country">
                         <label for="country">Country</label>
                     </div>
                     <div class="input-field col s6">
                         <textarea type="text" id="about_user" name="about_user">{{username.about_user}}</textarea>
                         <label for="about_user">Tell us who you are and what you like!</label>
                     </div>
                     <div class="input-field col s4">
                         <input type="text" value="{{username.spotify_userID}}" id="spotify_userID" name="spotify_userID">
                         <label for="spotify_userID">Spotify ID</label>
                     </div>
                     <div class="switch col s4">
                         <p>Display your Spotify Playlists?</p>
                         <label for="display_spotify_playlist">
                             No
                             {% if username.display_spotify_playlists == "on" %}
                             <input type="checkbox" id="display_spotify_playlist" name="display_spotify_playlists" checked>
                             {% else %}
                             <input type="checkbox" id="display_spotify_playlist" name="display_spotify_playlists">
                             {% endif %}
                             <span class="lever"></span>
                             Yes
                         </label>
                     </div>
                     <div class="switch col s4">
                         <p>Are you an Artist?</p>
                         <label for="is_artist">
                             No
                             {% if username.is_artist == "on" %}
                             <input type="checkbox" id="is_artist" name="is_artist" checked>
                             {% else %}
                             <input type="checkbox" id="is_artist" name="is_artist">
                             {% endif %}
                             <span class="lever"></span>
                             Yes
                         </label>
                     </div>
                     <button type="submit" class="btn">Submit</button>
                 </div>
             </form>
         </div>
</div>
</aside>
{% block scripts %}
<script src="{{url_for('static', filename='js/profile_image_filesize_checker.js')}}"></script>
{% endblock %}
{% endblock %}