{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row profile-image-row">
        <div class="col s12 m6">
            <div class="profile-image-wrapper">
                <img src="{{url_for('static', filename='images/default-user-image.png')}}" alt="User Profile Image"
                    class="profile-image">
            </div>
            {% if username.email_address %}
            <div class="messaging-details">
                {{username.email_address}}
            </div>
            {% endif %}
        </div>
        <div class="col s12 m6">
            <div class="user-info">
                {% if (username.first_name and username.last_name) or username.first_name %}
                <div class="user-fullname">
                    <p>{{username.first_name}} {{username.last_name}}</p>
                   
                        <p>{{date_of_birth}}</p>
         
                </div>
                {% endif %}
                {% if username.about_user %}
                <div class="about-user">
                    {{username.about_user}}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">

        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">

        </div>
    </div>
</div>
{% endblock %}