/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Quicksand:wght@300;400&display=swap');


body {
    padding: 0;
    margin: 0;
    border: 0;
}

.row {
    margin-bottom: 0;
}

/* Navbar and Footer styling */
nav .brand-logo {
    padding-left: 25px;
    font-family: "Alata", sans-serif;

}

nav li a {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}

.domestic-links {
    font-family: "Quicksand", sans-serif;
}

.domestic-links li a {
    color: #222222;
}

.social-links-row {
    margin-bottom: 0;
}

.social-links li {
    display: inline;

}

.social-links li a {
    margin: 0 20px;
    font-size: 2rem;
    color: #222222;
}


.background-main {
    background: url("../images/design2.png") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;

}

/* .hero-container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 100%;
} */

.hero-header {
    font-family: "Alata", sans-serif;
}

.hero-header.card-panel {
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 25px;
}

.hero-header p {
    font-family: "Quicksand", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
}

.hero-inner {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 300px;
    align-items: center;
    flex-direction: column;

}


/* 
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.301);
} */