/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Quicksand:wght@300;400&display=swap');


body {
    padding: 0;
    margin: 0;
    border: 0;
}

.row {
    margin-bottom: 0;
}


/* Navbar and Footer styling */

.top-level-background,
.nav-wrapper {
    background-color: #7b89b4 !important;
}

nav .brand-logo {
    padding-left: 25px;
    font-family: "Alata", sans-serif;
    color: #fafafa;

}

nav li a {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color: #fafafa;
}

.domestic-links {
    font-family: "Quicksand", sans-serif;
}

.domestic-links li a {
    color: #222222;
}

.social-links-row {
    margin-bottom: 0;
}

.social-links li {
    display: inline;

}

.social-links li a {
    margin: 0 20px;
    font-size: 2rem;
    color: #222222;
}


.background-main {
    background: url("../images/design3.png") no-repeat;
    background-size: 50%;
    background-position: 50% 20%;
    width: 100%;

}

/* .hero-container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 100%;
} */

/* -------- Home Page --------- */

.hero-header {
    font-family: "Alata", sans-serif;
}

.hero-header.card-panel {
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 25px;
}

.hero-header p {
    font-family: "Quicksand", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
}

.hero-header h1 {
    font-size: 3.5rem;
    margin-top: 200px;
}

.hero-inner {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 300px;
    align-items: center;
    flex-direction: column;
}

.info-header {
    text-decoration: underline;
    font-size: 2rem;
    text-align: center;
}


/* 
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.301);
} */

/* -------- User Profile Page --------- */

.profile-image-wrapper {
    margin-top: 75px;
}

.profile-image {
    width: 200px;
    border: 2px solid #222222;
    border-radius: 50%;
}

.messaging-details {
    display: inline;
}

/* ------ Browse Tracks Page ------- */

/* Top-level links displaying user options */
.user-option-list {
    display: flex;
    justify-content: center;
    
}

.user-option-list ul li {
    display: inline-block;
}

.user-option-icon {
    margin: 0 30px;
    font-size: 2rem;
}

.user-option {
    display: inline;
}

/* Track Cards */

.card-content {
    padding: 10px !important;
}





/* Media Queries - In accordance with materializeCSS size prefixes */


/* Tablet Devices */
@media only screen and (min-width: 600px) {

/* ------ Browse Tracks Page ------ */
/* Top-level links displaying user options */

.user-option-icon {
    margin: 0 10px 0 10px;
    color: #fafafa;
}

.user-option {
    font-size: 1.5rem;
    color: #eeeeee;
}

.user-option-list ul li {
    display: inline-block;
    margin: 0 30px;
}

.user-option-list ul li:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.browse-background {
    background: url('../images/design1.png') no-repeat fixed;
    background-size: cover;
    background-position: top;
}

.card-image {
    max-height: 100px;
}

}

/* Laptop/Desktop Devices */
@media only screen and (min-width: 992px) {

.loggedin-user-details,
.loggedin-user-details p {
    display: inline;
    color:#222222;
}
/* ------ Browse Tracks Page ------ */
/* Top-level links displaying user options */


.user-option-icon {
    margin: 0 10px 0 30px;

}

.card-title {
    white-space: nowrap;
}


/* Latest Tracks */
.card-image {
  max-height: 200px;
}

.card-image img {
    height: 100% !important;
}
.track-name {
    font-size: 1.5rem;
    text-align: left;
}

.user-image-card {
    width: 50px;
    display: inline;
    border: 2px solid #222222;
    border-radius: 50%;
}

.modal-user-details {
    margin-bottom: 1.3rem;
}

.message-user-modal {
    margin-left: 2rem;
}


.album-cover {
    width: 100%;
}

/* ------ Profile Page ------- */
}

/* Large Desktop devices */
@media only screen and (min-width: 1200px) {

}
